* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* HEADER */

header {
    padding: 0 80px;
    height: 90px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;

}

.header-first-block,
.header-second-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-first-block {
    width: 657px;
}

.logo {
    width: 93px;
    height: 47px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

.logo-span1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36.4444px;
    line-height: 47px;
    color: #000000;
    }

.logo-span2 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 52px;
    color: #000000;
    text-decoration: underline;
    z-index: 1;
}

.logo-image2 {
    position: absolute;
    top: 8px;
    left: 81px;
    width: 27px;
    height: 27px;
}


.header-first-block-text {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.9);
    width: 471px;
    justify-content: space-between;
}

.header-second-block-telefon {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-right: 40px;
}

.header-icon{
    display: flex;
    width: 184px;
    justify-content: space-between;
    font-size: 20px;
}

.header-icon-user,
.header-icon-heart,
.header-icon-cart {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #F2F3F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*MAIN*/
main {
    padding: 0 80px;
}
/*1-st block*/

.first-block {
    background: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.first-block-left-side {
    padding: 141px 0 0 62px;
}

.first-block h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 53px;
    color: #000000;
    margin-bottom: 10px;
    width: 660px;
}

.first-block p {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;

}

.first-block-search {
    display: flex;
}

.first-block-search input {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 514px;
    height: 62px;
}

.first-block-search input[type=text] {
    padding-left: 17px;
    padding-right: 92px;
}

.first-block-search-button {
    width: 75px;
    height: 58px;
    background: rgba(66, 0, 255, 0.8);
    border-radius: 8px;
    transform: translate(-77px, 2px);
    border: none;
    color: #FFFFFF;
    font-size: 20px;
}
   
.first-block-right-side {
    background-image: url(./Images/first\ block\ wheel.png), url(./Images/First\ block\ shadow.png);
    background-repeat: no-repeat;
    background-size: 120%, 85%;
    width: 800px;
    height: 100%;
    background-position: -120px 80px, 0 390px;
}

/*2-nd block*/

.second-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.second-block :last-child {
    margin-right: 0;
}

.second-block-card {
width: 422px;
display: flex;
background: #FFFFFF;
border: 1.5px solid #F2F2F2;
border-radius: 5px;
margin-right: 20px;
}

.second-block-card-image {
    height: 140px;
    width: 160px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.second-block-card-image img {
    position: relative;
    top: 15px;
}

.second-block-card-text {
    padding: 36px 0 0 15px;
}

.second-block-card-text h2 {
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.second-block-card-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 250px;
}

.second-block-card-image3 {
    position: relative;
    top: 15px;
    left: 20px;
}

/* 3-rd block*/

.third-block {
    display: flex;
    margin-bottom: 40px;
}

/*3-rd block left side*/
aside {
    background: #F7F7F7;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    margin-right: 20px;
}

.third-block-left-side-first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4200FF;
    border-radius: 5px;
    height: 76px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 358px;
}

.third-block-left-side-first-line img,
.third-block-left-side-second-line img,
.third-block-left-side-fourth-line img{
    width: 36px;
    height: 36px;
    margin-right: 20px;
}

.third-block-left-side-first-line-text {
    display: flex;
    width: 250px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
}

.third-block-left-side-first-line i {
    margin-right: 30px;
    font-style: normal;
    font-size: 22px;
    line-height: 20px;
    color: #FFFFFF;
}

.third-block-left-side-second-line i,
.third-block-left-side-third-line i,
.third-block-left-side-fourth-line i {
    margin-right: 30px;
    font-style: normal;
    font-size: 22px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
}


.third-block-left-side-second-line,
.third-block-left-side-third-line,
.third-block-left-side-fourth-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F7F7F7;
    border-radius: 5px;
    height: 76px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.third-block-left-side-second-line-text,
.third-block-left-side-third-line-text,
.third-block-left-side-fourth-line-text {
    display: flex;
    width: 250px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.third-block-left-side-third-line-image {
    width: 36px;
    height: 36px;
    margin-right: 20px;
}

.third-line-seat-image {
    width: 150%;
    object-position: -10px;
}

/* 3-rd block right side*/

.third-block-right-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.third-block-right-side-card1,
.third-block-right-side-card2,
.third-block-right-side-card3,
.third-block-right-side-card4,
.third-block-right-side-card5,
.third-block-right-side-card6 {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 280px;
}

.third-block-right-side-card1,
.third-block-right-side-card2,
.third-block-right-side-card3 {
    margin-bottom: 20px;
}

.third-block-right-side-card1,
.third-block-right-side-card2,
.third-block-right-side-card4,
.third-block-right-side-card5 {
    margin-right: 20px;
}

.third-block-right-side-card-image {
    height: 229px;
    background: #F7F7F7;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.third-block-right-side h2{
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    padding-left: 20px;
    width: 245px;
    margin-bottom: 20px;
}

.third-block-right-side-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
   }

.stars-reiting {
    color: #FED712;
    max-height: 15px;
    display: flex;
    width: 92px;
    font-size: 14px;
    justify-content: space-between;
}

/* Font-family PRICE*/
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("./fonts/Roboto/Roboto-Medium.ttf") format("ttf");
} 

.third-block-right-side-stars h3 {
    font-family: 'Robroto', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #4200FF;
    
}

/*4-th block pages*/

.fourth-block {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.fourth-block div {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background: #FFFFFF;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #212B36;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-block :last-child {
    margin-right: 0px;
}

.fourth-block i {
    color: #C4CDD5;
}

.fourth-block .page-back {
    background: #919EAB;
    opacity: 0.5;
}

.fourth-block :nth-child(2) {
    border: 1px solid #4200FF;
    color: #4200FF;
}

/* 5-th block*/

.fifth-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.fifth-block-card {
width: 422px;
display: flex;
background: #FFFFFF;
border: 1.5px solid #F2F2F2;
border-radius: 5px;
margin-right: 20px;
}

.fifth-block :last-child {
    margin-right: 0;
}

.fifth-block-card-image {
    height: 140px;
    width: 160px;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.fifth-block-card-text {
    padding: 36px 0 0 15px;
}

.fifth-block-card-text h2 {
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.fifth-block-card-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 250px;
}

.fifth-block-card3-text1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    height: 140px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F9F9;
    border-radius: 4px 0px 0px 4px;
}

.fifth-block-card-image1 {
    position: relative;
    top: 40px;
    left: 17px;
}

.fifth-block-card-image2 {
    position: relative;
    top: 17px;
    right: 12px;
}

/*6-th block*/

.sixth-block {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    background: #F7F7F7;
}

.sixth-block-left-side {
padding-left: 40px;
padding-top: 80px;
border-radius: 5px;
max-width: 644px;
}

.sixth-block-left-side h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    margin-bottom: 20px;
    max-width: 520px;
}

.sixth-block-left-side h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
    margin-right: 20px;
}

.sixth-block-button {
    width: 200px ;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;;
}

.sixth-block-button i {
    margin-right: 30px;
    font-style: normal;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
}

.sixth-block-right-side {
    background-image: url(./Images/sixth\ block\ car.png);
    background-repeat: no-repeat;
    height: 358px;
    width: 694px;
    border-radius: 5px;
    /* background-size: 120%, 85%;
    width: 800px;
    height: 100%;
    background-position: -120px 80px, 0 390px;
} */
}

/*7-th block*/

.seventh-block {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 2px;
}

.seventh-block h4 {
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}

.seventh-block-right-side {
    display: flex;
}

.seventh-block-right-side p {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.9);
    margin-right: 16px;
}

.seventh-block-right-side i {
    font-size: 20px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.9);
}

/* 8-th block*/

.eighth-block {
    margin-bottom: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.eighth-block-card1,
.eighth-block-card2,
.eighth-block-card3,
.eighth-block-card4 {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 318px;
    height: 356px;
}

.eighth-block-card1,
.eighth-block-card2,
.eighth-block-card3 {
    margin-right: 20px;
}

.eighth-block-card-image {
    height: 229px;
    background: #F7F7F7;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.eighth-block h2 {
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    padding-left: 20px;
    width: 245px;
    margin-bottom: 20px;
}

.eighth-block-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
   }

.eighth-block-stars h3 {
    font-family: 'Robroto', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #4200FF;
}

/*9-th block*/

.ninth-block {
    margin-bottom: 30px;
}

.ninth-block h4 {
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}

/*10-th block*/

.tenth-block{
display: flex;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
margin-bottom: 120px;
}

.audi,
.mercedes,
.daewoo,
.tesla,
.ford,
.toyota {
    margin-right: 20px;
    align-items: center;
    width: 318px;
    height: 180px;
    background: #F7F7F7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hyundai,
.chevrolet {
    align-items: center;
    width: 318px;
    height: 180px;
    background: #F7F7F7;
    border-radius: 5px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.audi {
    padding: 30px 100px;
}

.tenth-block h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}

.audi img {
    width: 103px;
    height: 78px;
}

.audi,
.mercedes, 
.daewoo,
.hyundai {
    margin-bottom: 20px;
}

.mercedes {
    padding: 37px 75px 30px 75px;
}

.mercedes img {
    width: 66px;
    height: 66px;
}

.daewoo {
    padding: 40px 90px 30px 90px;
}

.daewoo img {
    width: 107px;
    height: 59px;
}

.hyundai {
    padding: 46px 88px 30px 88px;
}

.hyundai img {
    width: 109px;
    height: 54px;
}

.tesla {
    padding: 28px 103px 30px 103px;
}

.tesla img {
    width: 98px;
    height: 87px;
}

.toyota {
    padding: 22px 105px 30px 105px;
}

.toyota img {
    width: 94px;
    height: 94px;
}

.ford {
    padding: 16px 81px 30px 81px;
}

.ford img {
    width: 142px;
    height: 100px;
}

.chevrolet {
    padding: 34px 67px 30px 67px;
}

.chevrolet img {
    width: 170px;
    height: 69px;
}

/*footer*/

footer {
    height: 311px;
    background: #2F2F2F;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px 100px;
}

.footer-first-block {
    display: flex;
}

.footer-first-block-logo {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-right: 20px;
 
    
}

.footer-logo {
    width: 93px;
    height: 47px;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-bottom: 10px;
}

.footer-logo-span1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36.4444px;
    line-height: 47px;
    color: #FFFFFF;
    }


.footer-logo-span2 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 52px;
    color: #FFFFFF;
    text-decoration: underline;
    z-index: 1;
}


.footer-logo-image {
    position: absolute;
    top: 8px;
    left: 81px;
    width: 27px;
    height: 27px;
}

.footer-telef {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

}

.footer-first-block h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-first-block li {
    font-style: normal;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    list-style-type: none;
}

.footer-first-block-center,
.footer-first-block-last {
    margin-right: 20px;
    padding-top: 10px;
}

.footer-first-block-center {
    margin-right: 80px;
}

.footer-second-block-right {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.footer-second-block i {
    color: #FFFFFF;
    font-size:  30px;
    margin-right: 26px;
}

.footer-icon :last-child {
    margin-right: 0;
}

.footer-icon {
    display: flex;
    justify-content: end;
}

